@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: #746F72;
  color: white;
  text-align: center;
  margin-top: 100px;
}

#search {
  width: 200px;
  margin: 0 10px;
}

.logo-span {
  color: red;
}

.dropdown {
  .btn {
    color: #999;
    margin-top: 2px;
  }
  #view-pinned {
    cursor: pointer;
  }
  .language-option {
    text-align: center;
  }
}

.btn-success {
  background: #B2C39A;
}


.word-card {
  width: 18rem;
  height: 18rem;
  margin: 10px;
  background: #ffc;
  color: #000;
  box-shadow: 5px 5px 7px black;
  h5 {
    i {
      position: absolute;
      top: 2%;
      right: 2%;
      cursor: pointer;
      padding: 5px 10px;
      color: #49C6E5;
    }
  }
}

.word-details {
  position: absolute;
  bottom: 20%;
  left: 15%;
  right: 15%;
  margin-bottom: 10px;

  p {
    font-size: 12px;
    margin: 5px;
  }
}

.btn-container {
  position: absolute;
  bottom: 0;
  left: 33%;
  right: 33%;
  margin-bottom: 20px;
}

.language-card {
  width: 18rem;
  height: 24rem;
  margin: 10px;

  .language-details {
    position: absolute;
    bottom: 5%;
    left: 15%;
    right: 15%;
  }

  .card-text {
    overflow: scroll;
    scrollbar-color: #49C6E5;
    height: 14rem;
  }
}

#store {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .get-started {
    width: 80%;
  }
}

form {
  width: 80%;
  margin: 0 auto;
}

.form-control {
  margin-bottom: 10px;
}
