@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background: tan;
  color: white;
  text-align: center;
  margin-top: 100px;
}

#search {
  width: 200px;
  margin: 0 10px;
}

.navbar {
  background: #49C6E5;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  .logo-span {
    color: #ffc;
  }
  .navbar-brand {
    font-weight: 800;
  }
  a {
    color: white;
    font-weight: 600;
  } 
}

.dropdown {
  .btn {
    color: white;
    font-weight: 600;
    margin-top: 2px;
  }
  li {
    text-align: center;
  }
  li a {
    color: black;
    font-weight: 400;
    cursor: pointer;
  }
  li a:hover {
    background: #777;
  }
}

.note-stack-btn {
  height: 5rem;
  width: 5rem;
  background: lightpink;
  font-weight: 500;
  border-right: 5px solid #ffc;
  border-bottom: 5px solid #ffc;
  box-shadow: 5px 5px 5px 1px #49C6E5;
  margin-bottom: 10px;
}
.note-stack-btn:hover {
  transform: rotate(10deg);
  transition: transform .2s ease-in-out;
}

#add-language-btn {
  font-size: 14px;
}

.submit-btn {
  background: #49C6E5;
  color: white;
}
.submit-btn:hover {
  background: #215a68
}


.word-card {
  width: 18rem;
  height: 18rem;
  margin: 20px;
  background: #ffc;
  color: #000;
  box-shadow: 5px 5px 7px black;
  transform: rotate(-6deg);
  // border-radius: 0px;
  transition: transform .15s linear;
  h5 {
    i {
      position: absolute;
      top: 2%;
      right: 2%;
      cursor: pointer;
      padding: 5px 10px;
      color: #49C6E5;
    }
  }
  .card-text {
    font-size: 15px;    
  }
  .word-details {
    position: absolute;
    bottom: 20%;
    left: 15%;
    right: 15%;
    margin-bottom: 10px;
  
    p {
      font-size: 12px;
      margin: 2px;
    }
  }
  
  .btn-container {
    position: absolute;
    bottom: 0;
    left: 33%;
    right: 33%;
    margin-bottom: 20px;
  }
}

.word-card:nth-child(odd) {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
}

.word-card:nth-child(2n) {
  background: lightpink;
  transform: rotate(4deg);
  position: relative;
  top: 5px;
}

.word-card:nth-child(3n) {
  background: #49C6E5;
  h5 i {
    color: #ffc;
  }
  .btn-info {
    background: #ffc;
  }
}

.word-card:hover, .word-card:focus {
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}

.language-card {
  width: 18rem;
  height: 24rem;
  margin: 10px;
  background: #ffc;

  .language-details {
    position: absolute;
    bottom: 5%;
    left: 15%;
    right: 15%;
  }

  .card-text {
    overflow: scroll;
    scrollbar-color: #49C6E5 #ffc;
    height: 14rem;
  }
}

#store {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;

  .get-started {
    width: 80%;
  }
}

#view {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

form {
  width: 80%;
  margin: 0 auto;
}

.form-control {
  margin-bottom: 10px;
}



@media only screen and (max-width: 992px) {
  #search {
    margin: 10px auto;
  }
}
